--extra-index-url https://download.pytorch.org/whl/cu116
torch
--extra-index-url https://download.pytorch.org/whl/cu116
torchvision
--extra-index-url https://download.pytorch.org/whl/cu116
torchaudio
tweepy
pandas
click
sklearn
transformers
sentencepiece
click
matplotlib
